*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
}
.nav{
    margin: 15px 0;
}
.nav-item{
    width: 22%;
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
.nav-item:nth-child(1){
    width: 12%;
}
.top{
    background-color: #692031;
    padding: 10px 3%;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    align-items: start;
    position: relative;
}
.top-left{
    width: 30%;
}
.tit{
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}
.top-right{
    width: 30%;
}
.logo{
    width: 100%;
}
.english{
    margin-top: 4px;
    text-align: center;
}
.logo-img{
    width: 60%;
    height: 80px;
    background-color: #A78F83;
    border-radius: 48%;

}
.logo-name{
    width: 60%;
    text-align: center;
}
.search{
    position: absolute;
    top: 0;
    right: 7%;
}
.h2{
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
}
.h-content{
    padding-left: 6%;
    align-items: start;
}
.c-left{
    width: 30%;
}
.c-left p{
    margin-bottom: 25px ;
}
.img{
    width: 68%;
}
.line{
    justify-content: space-between;
    margin: 10px 0;
}

.flex-left{
    width: 30%;
    background-color: #E0E3DF;
}
.flex-left-item{
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
}
.flex-right{
    width: 60%;
    height: 306px;
    border: 1px solid #000;
}

.l-left{
width: 30%;
}
.b{
    margin: 8px 0;
}
.cc{
    width: 100%;
    height: 100px;
    border: 1px solid #000;
}
.con{
    width: 100%;
    height: 80px;
    border: 1px solid #000;
}
.l-right{
    width: 58%;

}
.cont-box{
    width: 100%;
    height: 80px;
    border: 1px solid #000;
}
.footer{
    margin-top: 15px;
    background-color: #692031;
    padding: 15px 3%;
    color: #fff;
}
.f-item{
    margin-bottom: 15px;
}